<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>jaja</h1>
        
    <h2>{{category.nombre}}</h2>
            {% for categori in related %}
                <div >
                    <a href="{{categori.nombre.get_absolute_url}}"><h3>{{categori.nombre}}</h3></a>
                </div>
            {% endfor %}

</body>
</html>