{% extends "blog/post/base-post.html" %}
{% load static %}

{% block content %}

{% include "blog/post/header-post.html" with url=post.cover.url %}

<main class="container">
        <div class="row">
            <div class="col-12 col-lg-8 single-content-sidebar">
                    <h1>{{post.titulo | upper}}</h1>
                <p class="meta">

                </p>

                {{post.contenido |safe}}
            <!--<div class="comentarios">
                    <textarea name="comentarios" rows="10" cols="40">Escribe tus comentarios</textarea>
            </div>-->
            <!--13/11/2018 Con la linea 22 marca error-->
          <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

<!--Aqui van los Comentarios 11/11/2018 -->
<hr>
{% for comment in post.comments.all %}
    <div class="comment">
     <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a> <!--12/11/2018-->
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
            </div><!-- main-content/col -->

            <div class="col-12 col-lg-3 ml-auto single-content-sidebar-area">

                <img src="{{post.autor.imagen.url}}" class="user-icon " alt="user-image">
                <div class="meta">

                    <div class="sidebar-info">
                        <a class="" href="category.html">{{post.autor.user.first_name}} {{post.autor.user.last_name}}</a> in <a href="category.html">{{post.categoria.nombre}}</a>
                    </div>

                    <div class="sidebar-readtime">
                        <i class="fa fa-bookmark"></i> {{post.tiempo_estimado}} minuto(s) de lectura
                    </div>

                </div>


                {% if related %}
                <h2 class="favorites">Posts Similares</h2>

                    {% for post in related  %}
                    <div class="similar-post">
                        <a href="{{post.get_absolute_url}}"><h3>{{post.titulo}}</h3></a>
                    </div>
                    {% endfor %}

                {% endif %}



            </div>

        </div> <!--/row -->

    </main> <!-- /container -->


{% include "blog/post/footer-post.html" with  post=post %}

{% endblock content %}
